<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("2d45887d-f754-4689-8c59-da42652c1c07");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
